{% extends 'base.html.twig' %}

{% block title %}Hello GalleryRecetteController!
{% endblock %}

{% block body %}
	<style>
		/* .my-class {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    } */

		.my-class img {
			top: 0;
			left: 0;
			width: 100%;
			/* height: 100%; */
			object-fit: cover;
		}
		/* p{
		font-size: 12px;
	} */

	</style>
	<div class="texte text-center">
		<h1 class="title">TOUTES LES RECETTES</h1>
	</div>
	<div>
		<div class="container mx-auto px-5 py-2 lg:px-32 lg:pt-12">
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
				{% for recette in recettes %}
					{# <div class=""> #}
					<a class="mb-6 rounded-lg bg-white  shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700" href="{{ path('app_gallery_recette_show', { 'id': recette.id }) }}">
						<div class="p-6 text-white rounded-tl-lg rounded-tr-lg" style="background: rgb(234, 94, 94);">
							<div class="mb-6 flex justify-between">

								<h2 class="mb-2 text-xl font-medium leading-tight " style="width: 80%" >
									{{ recette.titre }}
								</h2>


								<div class="flex flex-col items-center">
									<i class="fa-solid fa-stopwatch fa-lg"></i><br>

									<p>{{ recette.getTempsTotal() }}
									</p>
								</div>

							</div>

							{# <div class="flex justify-between items-center">
															<div class="flex flex-col items-center">
																<i class="fa-solid fa-stopwatch fa-lg"></i><br>
																<p>Cuisson</p>
																<p>{{ recette.tempsCuisson ? recette.tempsCuisson|date('H:i') : '' }}</p>
															</div>
															<div class="flex flex-col items-center">
																<i class="fa-solid fa-hourglass-half fa-lg"></i><br>
																<p>Préparation</p>
																<p>{{ recette.tempsPrepation ? recette.tempsPrepation|date('H:i') : '' }}</p>
															</div>
															<div class="flex flex-col items-center">
																<i class="fa-solid fa-clock fa-lg"></i><br>
																<p>Repos</p>
																<p>{{ recette.tempsRepos ? recette.tempsRepos|date('H:i') : '' }}</p>
															</div>
														</div> #}
						</div>
						<div class="my-class">
							<img src="{{ vich_uploader_asset(recette, 'imageFile') }}" alt="{{ recette.imageName }}" class="card shadow-sm max-h-60 object-cover"/>
						</div>

						{# <div class="flex justify-center">
														<img src="{{ vich_uploader_asset(recette, 'imageFile') }}" alt="{{ recette.imageName }}" class=" rounded-t-lg card shadow-sm max-h-40 object-contain"/>
													</div> #}
					</a>
					{# </div> #}
				{% endfor %}
			</div>
		</div>
	{% endblock %}
